{% extends 'admin_panel/index.html' %}
{% block maincontent %}

  <div class="content mt-3">
        <div class="animated">
                    <!-- Button trigger modal -->
         
                        <div class="modal-body">
                          <form method="POST" action="">
                            {% csrf_token %}
                               <div class="form-row" >
                                 <div class="form-group col-md-12">
                                   <label for="inputPassword4">Sub Category Name</label>
                                   {{form.subcategory_name}}
                                 </div>
                               </div>

                               <div class="form-row" >
                                 <div class="form-group col-md-12">
                                   <label for="inputPassword4">Category Name</label>
                                  {{form.category_name}}
                               </div>

                               <div class="form-row" >
                               <div class="form-group col-md-12">
                                 <label for="inputAddress">Category Description</label>
                                 {{form.sub_category_description}}
                               </div>
                               </div>

                               <div class="form-row" >
                                <div class="form-group col-md-12">
                                  <label for="inputAddress">Category Status</label>
                                  {{form.sub_category_status}}
                                </div>
                                </div>

                            </div>
                            
                            <button type="submit" class="btn btn-primary">Save</button>
                               
                              </form>
                        
                    </div>
                </div>
            </div>
        
{% endblock maincontent %}