{% load static %}


<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
            <a class="navbar-brand hidden" href="./"><img src="{% static 'images/logo2.png' %}" alt="Logo"></a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'home' %}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                </li>
                <h3 class="menu-title">CRM</h3><!-- /.menu-title -->
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Customer</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-puzzle-piece"></i><a href="{% url 'customer_details' %}">Customer Details</a></li>
                          <li><i class="fa fa-puzzle-piece"></i><a href="{% url 'customer_agent' %}">Customer Agent</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Sales</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="fa fa-th"></i><a href="{% url 'sales' %}">Proposal</a></li>
                        <li><i class="fa fa-th"></i><a href="{% url 'estimate' %}">Estimate</a></li>
                        <li><i class="fa fa-th"></i><a href="Invoice.html">Invoices</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Products</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><i class="menu-icon fa fa-th"></i><a href="{% url 'category' %}">Category</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="{% url 'subcategory' %}">Sub Category</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="{% url 'item' %}">Item</a></li>
                        <li><i class="menu-icon fa fa-th"></i><a href="{% url 'status' %}">Status</a></li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'expense' %}"> <i class="menu-icon fa fa-th"></i>Expense </a>
                </li>
                <li>
                    <a href="{% url 'contract' %}"> <i class="menu-icon fa fa-th"></i>Contract </a>
                </li>
                <li>
                    <a href="widgets.html"> <i class="menu-icon fa fa-th"></i>Attendences </a>
                </li>

                <li class="menu-item-has-children dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-th"></i>Report</a>
                    <ul class="sub-menu children dropdown-menu">
                        <li><a href="font-fontawesome.html">Invoice Report</a></li>
                        <li><a href="font-themify.html">Item Report</a></li>
                        <li><a href="font-themify.html">Payment Received</a></li>
                        <li><a href="font-themify.html">Customer Report</a></li>
                          <li><a href="font-themify.html">Expense Report</a></li>
                    </ul>
                </li>
                <li>
                    <a href="widgets.html"> <i class="menu-icon ti-email"></i>Expense vs Income </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!--